body {
    padding-bottom: 1000px;
}

.background-1 {
    left: 0;
    top : 0;
    width: 100%;
    position: fixed;
    opacity: 1;
    z-index: -10;
}
.main-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Ysabeau Office, Arial;
    border: 1px solid rgba(255, 0, 0, 0);
    margin-bottom: 200px
}

.main-suisei-pic {
    border: 1px solid rgba(0, 0, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-right: 220px;
}

.suisei-potrait {
    height: 500px;
}

.main-description {
    border: none;
    border-radius: 20px;
    width: 398px;
}

.main-suisei-name {
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
    margin-top: 30px;
}

.mini-description {
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
}

.mini-description-author {
    color: white;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 30px;
    padding-right: 40px;
}

.suisei-gif {
    width: 398px;
    margin-bottom: 12px;
    border-radius: 10px;
}

div.main-social-media {
    width: 240px;
    border-radius: 4px;
    margin-left: 16px;
    transition: width 0.5s; 
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 50px 1fr;
    background-color: rgb( 196, 156, 109);
    box-shadow: 5px 5px 10px rgba(196, 156, 109, 0.5);
    border: 2px solid white;
}

div.main-social-media:hover  {
    width: 366px;
    cursor: grab;
}

p.main-social-media {
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 10px;
}

a.main-social-media {
    font-size: 24px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    
}

a:visited .social-media {
    color: white;
    text-decoration: none;
}

.app-logo {
    padding: 8px;  
    height: 24px;
}


